<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payslips" href="/tabs/payslips">
      <ion-icon aria-hidden="true" name="cash-outline"></ion-icon>
      <ion-label>Pay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests" href="/tabs/requests">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documents" href="/tabs/documents">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>Documents</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
