<ion-content [fullscreen]="true" class="custom-bg">
  <div class="header-row">
    <ion-button fill="clear" class="back-btn" routerLink="/tabs/home">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <h2 class="title">Documentos</h2>
    <div class="header-spacer"></div>
  </div>

  <ion-list *ngIf="users.length">
    <ion-item *ngFor="let u of users">
      <ion-avatar slot="start">
        <img src="https://i.pravatar.cc/80?img={{u.id}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{u.name}}</h2>
        <p>{{u.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
