<ion-header>
  <ion-toolbar color="light">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/img/hero.jpg" class="hero"></ion-img>

  <ion-list lines="none">
    <ion-card button routerLink="/tabs/pay">
      <ion-item lines="none">
        <ion-avatar slot="start"><img src="assets/icons/pay.svg" /></ion-avatar>
        <ion-label
          ><h2>Liquidaciones</h2>
          <p>View your pay slips</p></ion-label
        >
      </ion-item>
    </ion-card>

    <ion-card button routerLink="/tabs/documents">
      <ion-item lines="none">
        <ion-avatar slot="start"
          ><img src="assets/icons/cert.svg"
        /></ion-avatar>
        <ion-label
          ><h2>Certificados</h2>
          <p>View your certificates</p></ion-label
        >
      </ion-item>
    </ion-card>

    <ion-card button routerLink="/tabs/requests">
      <ion-item lines="none">
        <ion-avatar slot="start"
          ><img src="assets/icons/benef.svg"
        /></ion-avatar>
        <ion-label
          ><h2>Beneficios</h2>
          <p>View your benefits</p></ion-label
        >
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
